bin/com
build/**
.externalToolBuilders/*
.gradle/5.3.1/*
.gradle/vcs-1/*
.settings/*
*.swp
.gradle/**
/.gradle/
.classpath
.project
**/assetsconfigs/
**assets/


\.idea/libraries/Gradle__ch_qos_logback_logback_classic_1_1_2\.xml

\.idea/

*.class

out/production/classes/META-INF/ia_bomberball\.main\.kotlin_module
